.offerspec-container {
  padding: 20px;
  background-color: #FFF;
}
.offerspec-action-panel {
  background: #fff;
}
.offerspec-action-container {
  .offerspec-action-item {
    cursor: pointer;
    height: 80px;
    background: #fff;
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #EEE;
    .offerspec-action-name {
      float: right;
      font-size: 18px;
      line-height: 50px;
      color: #616161;
      font-family: 'Microsoft Yahei';
    }
  }
  .offerspec-action-item:hover {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
  }
}
.offer-action-item-1 {
  padding-left: 1px;
  padding-right: 8px;
  color: $color-blue;
}
.offer-action-item-2 {
  padding-left: 2px;
  padding-right: 6px;
  color: $color-green;
}
.offer-action-item-3 {
  padding-left: 4px;
  padding-right: 4px;
  color: $color-red;
}
.offer-action-item-4 {
  padding-left: 6px;
  padding-right: 2px;
  color: $color-orange;
}
.offer-action-item-5 {
  padding-left: 8px;
  padding-right: 1px;
  color: $color-brown;
}
.m-offer-type-select {
  margin-left: 20px;
  margin-top: 15px;
}
.m-panel-desc {
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  line-height: 30px;
  border-top: 1px solid $panel-border-color;
  a {
    font-weight: 400;
    color: #77818e;
  }
}
.m-addbtn-next {
  width: 130px;
  height: 40px;
}
.wizardContainer {
  float: right;
  right: -30px;
  position: relative;
  .step {
    float: left;
    width: 130px;
    text-align: center;
    position: relative;
    display: inline-block;
  }
  .completed {
    color: #06A80E;
    .fa-check-circle-o {
      font-size: 36px;
      margin-bottom: 7px;
    }
    .step-text {
      font-weight: 600;
      font-family: "微软雅黑";
    }
  }
  .actived {
    color: #444;
    .step-text {
      font-weight: 600;
      font-family: "微软雅黑";
    }
    .fa-dot-circle-o {
      font-size: 36px;
      margin-bottom: 7px;
    }
  }
  .inactived {
    color: #afafaf;
    .step-text {
      font-weight: 600;
      font-family: "微软雅黑";
    }
    .fa-circle {
      font-size: 16px;
      margin-top: 10px;
//      margin-bottom: 15px;
      margin-bottom: 10px;
    }
  }
  .firststep::after,
  .nomalstep::after {
    position: absolute;
    background-color: #afafaf;
    top: 18px;
    width: 40px;
    height: 1px;
    content: '';
    margin-left: 25px;
  }
  .nomalstep::before,
  .laststep::before {
    position: absolute;
    background-color: #afafaf;
    top: 18px;
    width: 40px;
    height: 1px;
    content: '';
    margin-right: 25px;
    left: 0;
  }
}
.labels{
//  width: 80px;
  padding-left:20px
}

.spec-name-field{
//  width:300px;
  margin-right:50px;

}
.spec-com-field{
//  width:250px;
  margin-right:50px;
}

//一般按钮样式
.m-mBtn {
  width: 100px;
//  height: 0px;
  align:left;
  margin-right:20px;
},
.vbox-item{
   margin-top:10px;
}
.hbox-item{
   margin-right:50px;
}
.panel-contained {
   margin:10px 20px;
}
.mtxtField{
  margin: 5px ;
  padding-bottom: 5px;
}
.mLabelClass{
  width:100px;
//  font-size:14px;
  align-content: center;
  font-family: 'Microsoft Yahei';
  font-size:14px;
}
.mInputClass{
  width: 200px;
//  font-size: 14px;
//  border-radius: 3px;
  font-family: 'Microsoft Yahei';
//  margin-left: 20px;
  border: 0;
  height: 35px;
  text-indent: 10px
}
.treeIcon{
  color:$color-soft-blue;
}
//改变tree 的图标颜色x-tree-elbow-img x-tree-elbow-plus x-tree-expander
.x-tree-icon,.x-tree-elbow, .x-tree-icon-leaf,.x-tree-elbow-img, .x-tree-elbow-plus,.x-tree-elbow,
.x-tree-elbow-end-plus,.x-tree-expander,
.x-grid-tree-node-expanded .x-tree-elbow-plus:before,{
  color:$color-soft-blue
}

.fa-check{
   color:$color-soft-green;
   font-size: 20px;
   padding: 10px;
   text-align: center
}
.fa-close{
   color:$color-soft-red;
   font-size: 28px;
   padding: 10px;
   text-align: center
}
.fa-exclamation{
   color:$color-soft-orange;
   font-size: 28px;
   padding: 10px;
   text-align: center
}
.fa-spinner{
   color:$color-soft-black;
   font-size: 28px;
   padding: 10px;
   text-align: center
}
.m-check-circle-o{
   color:$color-soft-green;
   font-size: 50px;
   padding: 10px;
   text-align: center
}
.checkResult{
   height:45px;
   vertical-align:middle;
   padding: 10px 50px;
}
.checkInfo{
  padding-left: 50px;
  font-size:14px;
  color: gray;
  height:40px;
  padding: 5px;
}
.headerContainer{
  border: 1px solid #eeeeee;
//  border-left: 1px solid #eeeeee;
//  border-right: 1px solid #eeeeee;
  padding: 10px 15px;
}
.operater-title{
  font-size:20px;
  height:45px;
  padding:10px 0 10px 10px;
}

.containerBorder-bottom{
//  border: 1px solid #eeeeee;
  border-bottom: 1px solid  $panel-border-color;
}
.vbox-item-separator {
  border-bottom: 1px dotted #ddd;
}
.containerBorder-top{
  border: 1px solid #eeeeee;
}
.containerBorder{
  border: 1px solid #eeeeee;
}

@mixin result-icon-font{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
}
.result-right{
  //  content: "\f00c";
  color: $color-soft-green ;
  text-align: center
}
.result-right:before{
  content: "\f00c";
  @include result-icon-font;
}
.result-false{
  color: $color-soft-red ;
  text-align: center
}
.result-false:before{
  content: "\f00d";
  @include result-icon-font;
}
.result-warming{
  color:$color-soft-orange;
  text-align: center
}
.result-warming:before{
  content: "\f12a";
  @include result-icon-font;
}
.result-spinner{
  color:$color-soft-black;
  text-align: center
}
.result-spinner:before{
  content: "\f110";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  @include result-icon-font;
}

//.x-table-layout{
//  background-color: blue;
//}
//.table-layout-ct{
//  background-color: green;
//}
//.table-layout-cell{
//  border:0;
//  background-color: red;
//}
    //自定义前进ButtonUI
  @include extjs-button-large-ui( $ui:'mNextBtn', $background-color: $primary-color,
  $background-color-over: mix(#000, $primary-color, 8%),$border-color:$color-light-gray,
  $font-weight: 600, $font-family: 'Microsoft Yahei' );
  @include extjs-button-large-ui( $ui:'mBackBtn', $background-color: $color-green,
  $background-color-over: mix(#000,  $color-green, 8%), $border-color:$color-light-gray,
  $font-weight: 600, $font-family: 'Microsoft Yahei' );
  @include extjs-button-large-ui( $ui:'mSubmitBtn', $background-color: $color-soft-cyan,
  $border-color:$color-gray-btn-border, $background-color-over: mix(#000,  $color-soft-cyan, 8%), $font-weight: 600, $font-family: 'Microsoft Yahei' );
//  @include extjs-button-large-ui( $ui:'mBtn', $background-color:  $color-gray, $background-color-over: mix(#000, $primary-color, 8%), $font-weight: 600, $font-family: 'Microsoft Yahei' );
  @include extjs-button-small-ui( $ui:'mBtn',$background-color: $color-light-gray, $color:$color-black,$background-color-over: mix(#000,  $color-light-gray, 8%),
  $border-color:$color-gray-btn-border,$font-family: 'Microsoft Yahei' , $font-weight: 300);
  @include extjs-button-small-ui( $ui:'mFavourBtn',$background-color: $color-light-gray,$background-color-over: mix(#000, $color-light-gray, 8%),
  $border-color:$color-gray-btn-border,$font-family: 'Microsoft Yahei' , $font-weight: 300);

  @include extjs-text-field-ui($ui:'mTextField');
  
  .add-way {
  .big-square-image {
    position: absolute;
    height: 120px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    .fa {
      display: block;
      font-size: 60px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    a {
      display: block;
      font-size: 12px;
    }
    .color-blue {
      color: $color-blue;
    }
    .color-green {
      color: $color-green;
    }
    .color-orange {
      color: $color-orange;
    }
  }
}
.add-way-hover:hover {
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

.big-square-image-pressed, .big-square-image:active {
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2) inset;
  -ms-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2) inset;
}

.addmember-textfiled{
  text-align: center;
  width: 90px;
  height: 32px;
  boder: 1px solid $neutral-color;
  padding-top:8px;
}
