$primary-color: #428BCA;
$panel-navigation-background-color: #FFF;
$panel-navigation-item-line-height: 44px;
$panel-navigation-item-text-color: #ADB3B8;
$panel-header-inner-border-width: 1;
$panel-header-color: #555;
$panel-header-border-width: 1px;
$panel-header-border-style: solid;
$panel-frame-body-border-width: 0;
$panel-frame-border-width: 1px;
$panel-border-color: #d9d9d9;
$panel-border-width: 1px;
$base-color: #F9F9F9;
$circle-border-radius: 50%;
$base-border-color: #ddd;
$lightest-color: #fff;
$font-weight: normal;
$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;
$button-toolbar-background-color: transparent;
$button-toolbar-border-color: transparent;
$button-toolbar-hover-background-color: #efefef;
$breadcrumb-item-text-color: #3570c3; //Form and Toolbar Button UI colors
//$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-red: #e44959;
$color-soft-orange: #F18729;
$color-soft-black: #515A5A;
$color-soft-purple: #925e8b;
$color-gray: #949495; //$color-green: #16b603;
$color-blue: #428BCA;
$color-green: #6fd64b;
$color-red: #fb5d5d;
$color-orange: #f7941d;
$color-brown: #D17905;
$color-black: #000;
$color-black: #000;
$color-light-gray: #F1F1F1;
//radio style
$form-radio-glyph: $fa-var-circle-thin $form-checkbox-size $font-icon-font-family;
$form-radio-checked-glyph: $fa-var-dot-circle-o $form-checkbox-size $font-icon-font-family;
//$form-checkbox-glyph-color: $panel-border-color;
//$form-checkbox-glyph-focus-color: $panel-header-color;
$form-text-field-body-width:200px;
